<h1>Paybase Fintech Conference</h1>

<div class="container">

<div class="col">
    <h2>Speakers</h2>
    <ul>
    <% speakers.forEach(speaker => { %>
       <li><img src="<%= speaker.photo %>" alt="" class="logo"> 🙋♂️ <%- speaker.first_name %> <%- speaker.last_name %> <%- speaker.bio %></li><br>
    <% }); %>
    </ul>
</div>

<div class="col right">
    <h2>Talks</h2>
    <ul>
    <% talks.forEach(talk => { %>
       <li> <strong>Speakers :</strong> <%- talk.speakers %></li>
       <li> <strong>Available Spaces :</strong> <%- talk.availableSpaces %> </li>
       <li> <strong>Title : </strong> <%- talk.title %> </li>
       <li> <strong>Description : </strong> <%- talk.description %> </li>
       <li> <strong>Duration : </strong> <%- talk.duration %> </li>
       <li> <strong>Talk @ : </strong> <%- talk.time %> </li>
       <li> <strong>RSVP </strong> <a href="<%- link %><%- talk.id %>" > <%- talk.rsvp %> </a> </li>
       <br>
    <% }); %>
    </ul>
</div>

<div class="col">


<% if (sessionID) { %>
    <a href="logout"><button>Logout</button></a>
<% } %>

</div>

<style>
.container {
  display:flex;
  flex-direction:row;
}

.col {
    flex:1;
}

.col.right {
    flex:2;
}
</style>